flask==0.12.2
sqlalchemy==1.1.15
flask_sqlalchemy==2.3.2
flask_migrate==2.1.1
pymysql==0.7.11
flask-socketio==2.9.2
lxml==4.1.1
pandas==0.21.0
requests==2.18.4
bs4==0.0.1
tushare==1.0.2
flask-wtf==0.14.2
gevent==1.2.2
gevent-websocket==0.10.1
flask-marshmallow==0.8.0
marshmallow-sqlalchemy==0.13.2
flask-uploads==0.2.1